$font-family: 'Helvetica', 'Arial', 'Sans-Serif';
$font-red-hat: 'Red Hat Display', sans-serif;
$font-crimson: 'Crimson Text', serif;

.logo
{
    font-family: $font-red-hat;
    font-size: 96px;
    color: #ffffff;
}

h1
{
    font-family: $font-red-hat;
    font-size: 48px;
    color: #32FFED;
}

h2
{
    font-family: $font-red-hat;
    font-size: 36px;
    color: #32FFED;
}

p
{
    font-family: $font-crimson;
    font-size: 18px;
    line-height: 1.4em;
    color: #ffffff;
}

a
{
    text-decoration: none;
    color: #32FFED;
}

ul
{
    font-family: $font-crimson;
    list-style-type: none;
    color: #ffffff;
}

footer
{
    font-size: 12px;
}

.buttonNav
{
    font-family: $font-red-hat;
    color: #100030;
}

.project-header
{
    h1
    {
        font-family: $font-red-hat;
        font-size: 96px;
    }
    
    p
    {
        color: #32FFED;
    }
    
    .specs
    {
        ul
        {
            list-style-type: disc;
            font-family: $font-crimson;
            color: #32FFED;
        }
    }
    
    .buttonDownload
    {
        font-family: $font-red-hat;
        color: $color5;
        
        &:hover
        {
            color: $color4;
        }
    }
}
