$font-family: 'Helvetica', 'Arial', 'Sans-Serif';
$font-red-hat: 'Red Hat Display', sans-serif;

.logo
{
    font-family: $font-red-hat;
    font-size: 90px;
    color: #ffffff;
}

h1
{
    font-family: $font-family;
    font-size: 3em;
    color: $color2;
}

h2
{
    font-family: $font-family;
    font-size: 1.5em;
    
    color: $color2;
}

p
{
    font-family: $font-family;
    font-size: 1em;
    
    line-height: 1.4em;
    color: #333;
}

a
{
    text-decoration: none;
    color: $color2;
}

nav ul, footer ul
{
    font-family: $font-family;
    font-weight: bold;
    
    list-style: none;
}

footer
{
    font-size: .8em;
}

.buttonNav
{
    font-family: $font-red-hat;
    color: $color3;
    
    &:hover
    {
        color: $color1;
    }
}

.project-header
{
    h1
    {
        font-family: $font-family;
        font-size: 6em;
        color: $color4;
    }
    
    p
    {
        color: $color1;
    }
    
    .specs
    {
        list-style: none;

        li
        {
            font-family: $font-family;
            color: $color2;
        }
    }
    
    .buttonDownload
    {
        font-family: $font-family;
        font-weight: bold;
        color: $color5;
        
        &:hover
        {
            color: $color4;
            text-decoration-line: none;
        }
    }
}
