$font-family: 'Helvetica', 'Arial', 'Sans-Serif';
$font-red-hat: 'Red Hat Display', sans-serif;
$font-crimson: 'Crimson Text', serif;

.logo
{
    font-family: $font-red-hat;
    font-size: 90px;
    color: #ffffff;
}

h1
{
    font-family: $font-red-hat;
    font-size: 3em;
    color: $color2;
}

h2
{
    font-family: $font-red-hat;
    font-size: 1.5em;
    
    color: $color2;
}

p
{
    font-family: $font-crimson;
    
    line-height: 1.4em;
    color: #ffffff;
}

a
{
    text-decoration: none;
    color: $color2;
}

ul
{
    font-family: $font-family;
    list-style-type: none;
}

footer
{
    font-size: .8em;
}

.buttonNav
{
    font-family: $font-red-hat;
    color: $color3;
    
    &:hover
    {
        color: $color1;
    }
}

.project-header
{
    h1
    {
        font-family: $font-red-hat;
        font-size: 6em;
        color: $color4;
    }
    
    p
    {
        color: $color1;
    }
    
    .specs
    {
        ul
        {
            list-style-type: disc;
            font-family: $font-family;
            color: $color2;
        }
    }
    
    .buttonDownload
    {
        font-family: $font-red-hat;
        color: $color5;
        
        &:hover
        {
            color: $color4;
        }
    }
}
