.project-header
{
    background-color: $color3;
    
    h1
    {
        font-size: 3em;
        font-family: $font-family;
        color: $color4;
    }
    
    .project-container
    {
        padding: 30px;
        overflow: auto;
        
        .specs
        {
            border: 1px solid $color2;
            list-style-type: none;
            
            li
            {
                color: $color2;
                font-family: $font-family;
                margin-bottom: 15px;
            }
        }

        .video
        {
            width: 100%;
            height: auto;
            float: right;
        }
    }
}
