@import "colors";
@import "fonts";

*
{
    box-sizing: border-box;
}

body
{
    background-color: $color1;
    width: 80%;
}

header
{
    background-color: $color4;
}

nav
{
    background-color: $color5;
    overflow: auto;
}

nav ul, footer ul
{
    padding: 0px;
    
    li
    {
        display: inline;
        margin-right: 20px;
    }
}

.buttonNav
{
    width: 150px;
    line-height: 50px;
    background-color: $color3;
    text-align: center;
    float: left;
    
    
    &:hover
    {
        background-color: $color1;
    }
}

footer
{
    border-top: 1px solid $color2;
}

.row
{
    overflow: auto;
    
    ul
    {
        list-style-type: none;
        overflow: auto;
        
        .col
        {
            float: left;
            width: 450px;
            background-color: $color2;
            margin-right: 25px;
            margin-bottom: 25px;

            img
            {
                display: block;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;
            }

            h3
            {
                color: $color3;
                text-align: center;
            }
        }
        
        a:hover
        {
            .col
            {
                background-color: $color4;

                h3
                {
                    color: $color5;
                }
            }
        }
    }
}

@import "project-header";
