@import "colors.scss";

$font-family: 'Helvetica', 'Arial', 'Sans-Serif';

body
{
    background-color: $color5;
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul
{
    font-family: $font-family;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    
    li
    {
        display: inline;
        margin-right: 20px;
    }
}

a
{
    text-decoration: none;
    color: $color4;
    
    &:hover
    {
        text-decoration: underline;
    }
}

h1
{
    font-size: 3em;
    font-family: $font-family;
    color: $color2;
}

p
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer
{
    border-top: 1px solid $color4;
    font-size: .8em;
}

.current
{
  color: $color3;
}

ul.specs
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
