@import "colors.scss";

$font-family: 'Helvetica', 'Arial', 'Sans-Serif';

*
{
    box-sizing: border-box;
}

body
{
    background-color: $color1;
    margin: 60px auto;
    width: 80%;
}

nav ul, footer ul
{
    font-family: $font-family;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    
    li
    {
        display: inline;
        margin-right: 20px;
    }
}

a
{
    text-decoration: none;
    color: $color5;
    
    &:hover
    {
        text-decoration: underline;
    }
}

h1
{
    font-size: 3em;
    font-family: $font-family;
    color: $color2;
}

p
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer
{
    border-top: 1px solid $color5;
    font-size: .8em;
}

.current
{
  color: $color4;
}

.row
{
    border: 1px solid $color4;
    overflow: auto;
    
    ul
    {
        list-style-type: none;
        overflow: auto;
        
        .col
        {
            float: left;
            width: 450px;
            background-color: $color3;
            margin-right: 25px;
            margin-bottom: 25px;

            img
            {
                display: block;
                width: 400px;
                margin: auto;
            }

            h3
            {
                color: $color2;
                text-align: center;
            }
        }
    }
}

.project-header
{
    background-color: $color2;
    
    h1
    {
        font-size: 3em;
        font-family: $font-family;
        color: $color1;
    }
    
    .project-container
    {
        padding: 30px;
        overflow: auto;
        
        .specs
        {
            border: 1px solid $color3;
            list-style-type: none;
            
            li
            {
                color: $color3;
                font-family: $font-family;
                margin-bottom: 15px;
            }
        }

        .video
        {
            width: 100%;
            height: auto;
            float: right;
        }
    }
}
