<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Grant Joyner</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto-Serif|Red+Hat+Display&display=swap">
	</head>
  
	<body>
		{% include navigation.html %}
		
		<div class="content-container">
			{% include header.html %}
			{{ content }}
		</div>
		
		<br>
		
		{% include footer.html %}
	</body>
</html>
