<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Grant Joyner</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
	</head>
  
	<body>
		{% include navigation.html %}
		
		<div class="content-container">
			{% include header.html %}
    
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
    
		{% include footer.html %}
		</div>
	</body>
</html>
