---
layout: default
---
<div class="project-header">
  <h1>{{ page.title }}</h1>
  <div class="project-container">
    <iframe class="video" width="960" height="540" src={{ "https://www.youtube.com/embed/" | append: page.video-id }} frameborder="0"></iframe>
    <ul class="specs">
      <li>Platform: {{ page.platform }}</li>
      <li>Genre: {{ page.genre }}</li>
      <li>Players: {{ page.players }}</li>
      <li>Engine: {{ page.engine }}</li>
      <li>Development: {{ page.start }} - {{ page.end }}</li>
    </ul>
  </div>
</div>

{{ content }}

<p><a href="/">Back to Projects</a></p>
