---
layout: default
---
<div class="project-header">
  <h1>{{ page.title }}</h1>
  <div class="project-container">
    <iframe class="video" src={{ "https://www.youtube.com/embed/" | append: page.video-id }} frameborder="0"></iframe>
    <p>{{ page.description }}</p>
    
    <ul class="downloads">
    {% for item in site.data.downloads.{{ page.name | remove: ".html" }} %}
      <li><a href="{{ item.download-link }}">
        <div class="buttonDownload">{{ item.desc }}</div>
      </a></li>
    {% endfor %}
    </ul>
    
    <ul class="specs">
      <li>Platform: {{ page.platform }}</li>
      <li>Genre: {{ page.genre }}</li>
      <li>Players: {{ page.players }}</li>
      <li>Engine: {{ page.engine }}</li>
      <li>Development: {{ page.start }} - {{ page.end }}</li>
    </ul>
  </div>
</div>

{{ content }}

<p><a href="/">Back to Projects</a></p>
