---
layout: default
---
<div class="project-header">
  <h1>{{ page.title }}</h1>
  <div class="left">
    <ul class="specs">
      <li>Platform: {{ page.platform }}</li>
      <li>Genre: {{ page.genre }}</li>
      <li>Players: {{ page.players }}</li>
      <li>Engine: {{ page.engine }}</li>
      <li>Development: {{ page.start }} - {{ page.end }}</li>
    </ul>
  </div>
  <div class="right">
    <iframe width="560" height="315" src={{page.video-url}} frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

{{ content }}

<p><a href="/projects.html">Back to Projects</a></p>
